In [25]:
import os
import glob
import shutil

#You don't need this ig, just did to rename my images.
dirname = "Images"
for i, filename in enumerate(os.listdir(dirname)):
    print(filename)
    os.rename(dirname + "/" + filename, dirname + "/" + "c"+str(i) + ".png")

image.jpg
Screenshot from 2020-03-30 22-57-56.png
Screenshot from 2020-03-12 22-38-03.png
Screenshot from 2020-03-26 02-03-23.png
Screenshot from 2020-03-25 03-31-03.png
Screenshot from 2020-04-01 05-28-31.png
Screenshot from 2020-04-01 04-18-52.png
Screenshot from 2020-03-26 02-26-58.png
Screenshot from 2020-03-27 04-02-36.png
Screenshot from 2020-03-27 04-01-29.png
Screenshot from 2020-03-29 16-38-53.png
Screenshot from 2020-04-01 04-21-03.png
Screenshot from 2020-03-25 03-33-20.png

In [31]:
for i, filename in enumerate(os.listdir(dirname)):
    print(filename)

c8.png
c7.png
c0.png
c2.png
c12.png
c5.png
c3.png
c1.png
c6.png
c4.png
c10.png
c11.png
c9.png

In [32]:
import pandas as pd
df = pd.read_csv('data.csv')
df.head()

  ImageId  label
0      c0      0
1      c1      1
2      c2      1
3      c3      0
4      c4      1

In [33]:
os.mkdir("Folder1")
os.mkdir("Folder2")

In [34]:
for index, row in df.iterrows():
    print(row['ImageId'], row['label'])

c0 0
c1 1
c2 1
c3 0
c4 1
c5 1
c6 1
c7 1
c8 0
c9 0
c10 1
c11 1
c12 0

In [35]:
#Copying logic.
src_dir = "/home/learner/Desktop/raghavddps2/UD_DSA/Course1/Images"
dst_dir_1 = "/home/learner/Desktop/raghavddps2/UD_DSA/Course1/Folder1"
dst_dir_2 = "/home/learner/Desktop/raghavddps2/UD_DSA/Course1/Folder2"
for index, row in df.iterrows():
    print(row['ImageId'], row['label'])
    ImageId = row['ImageId']
    Label = row['label']
    img_name = ImageId+".png"
    if(Label == 0):
        shutil.copy(src_dir+"/"+img_name,dst_dir_1)
    else:
        shutil.copy(src_dir+"/"+img_name,dst_dir_2)

c0 0
c1 1
c2 1
c3 0
c4 1
c5 1
c6 1
c7 1
c8 0
c9 0
c10 1
c11 1
c12 0